# vim:ft=ansible:
---

keypair: hao-savi-rsa
security_group: hao
instance_type: m4.2xlarge
# instance_type: t2.micro
volume_size: 100
volume_type: gp2
delete_on_termination: true
device_name: /dev/xvdf
core_num: 6
mem_size: 24G
vm_num: 4
master_name: master-hao
worker_name: worker-hao
public_key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDwbjHmba7dp4AifBKOuTBakO9KEE6Kd8I3d16jsS1sDYW0b0C6XcLrCYyeaMhMj3CMGVQRgvIEJ7Tc8yefQfvBGXWPXnRQF2kXD+SfBDyQYutnHF6dPGSazdFHGCWhL+ND4vITy9DxG8+fL7QlnKySCnaLapirqy69N0el2mJpOm8BbEshVn/Lb7mpKdrziRiYeGVvB1LTes9y/+X90cwSD4qD1OQHWZdOQkCX8ov/6sswj9nQZoC87TfBiAGaCmI1GHEzip0xuBAd+kxVxsfWpZoNk8a7VSK5sUfl7lnhEtpP1wfc+Rd13QWYTgfs3Jwhy0SL+EdM15Lutm2kodLh hao@hao-yarn-2'
