[master]
{{ master.public_dns_name }} {{ '\t' }} # {{ master.region }}

[worker]
{% for region in worker_list %}
{% for worker in region %}
{% if worker.tags.Name == worker_name %}
{{ worker.public_dns_name }} {{ '\t' }} # {{ worker.region }}
{% endif %}
{% endfor %}{% endfor %}
